@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfffe;
  --black: #001514;
  --red: #6b0504;
  --orange: #a3320b;
  --yellow: #e6af2e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  padding: 2rem;
  color: var(--background);
  background: none; /* Transparent background */
  text-shadow: 
    4px 4px 8px var(--red),
    -4px -4px 8px var(--red); 
}

h3 {
  font-size: 1.5rem;
}

.hero-container {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  position: relative; /* Allows absolute positioning within this container */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../public/img/hero-banner.jpg');
  background-size: cover;
  background-position: top center;
  box-shadow: inset 0px 0px 30px black;
}

.login {
  position: absolute; 
  color: var(--background);
  top: 1rem; 
  right: 1rem; 
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5rem 1rem; 
  border-radius: 5px; 
  font-size: 1rem; 
}

.login:hover {
  text-decoration: underline;
}

.description {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--background);
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 2rem;

}

.pills, .inventory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.currentGames-Container, .inventory-container, .add-to-inventory{
  background-color: lightgray;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: gray 2px 2px 5px;
}

.currentGames-header, .inventory-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameCard h4{
  color: var(--red);
  font-size: 1rem;
  font-weight: bold;
}

.gameCard{
  background-color: var(--background);
  border: var(--yellow) solid 2px;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;

}

.inventory-table-container {
  display: flex;
  width: 100%;
  overflow-x: auto; 
}
.search-inventory{
  padding-top: 1rem;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse; 
  background-color: var(--background);
}

.inventory-table thead th {
  background-color: var(--yellow);
  padding: 0.5rem;
  position: sticky;
  top: 0; 
  z-index: 1;
  text-align: left;
}

.inventory-table tbody {
  display: table-row-group; 
  max-height: 300px;
  overflow-y: auto; 
}

.inventory-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9; 
}

.inventory-table tbody tr:nth-child(even) {
  background-color: #ffffff; 
}

.inventory-table td, .inventory-table th {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.add-to-inventory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-to-inventory button{
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--background);
  font-size: 1rem;
  margin: 1rem auto;
}

.add-to-inventory button:hover{
  background-color: var(--yellow);
}

.add-to-inventory input, textarea{
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.add-to-inventory label{
  font-size: 1rem;
  padding: 1rem 0rem;
}

.btn-open-modal, .btn-submit{
  background-color: var(--red);
}

.btn-open-modal:hover, .btn-submit:hover{
  background-color: var(--yellow);
}



.btn-edit{
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--background);
  font-size: 1rem;
  float: right;
}
.game-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 75%;
  height: 75%;
  overflow: auto;
  background-color: var(--background);
  padding: 20px;
  border-radius: 10px;

}

.game-modal .modal-content h2{
  color: var(--red);
  font-size: 2rem;
  text-align: center;
  
}




.game-modal .modal-content form {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 5px;
}

.game-modal .modal-content form label {
  display: flex;
  justify-content: space-between;
}

.game-modal .modal-content form label input{
  border-radius: 5px;
  padding: 0.25rem;
}



.game-modal .modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.game-modal .modal-actions button {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--background);
  font-size: 1rem;
}

.game-modal .modal-actions button:hover {
  background-color: var(--yellow);
}


.game-modal .player-list li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--background);
  border-radius: 5px;
  margin: 0.5rem 0;
}

.game-modal .player-list li button {
  color: var(--red);
}
.game-modal .player-list li button:hover {
  color: var(--background);
  background-color: var(--red);
  border-radius: 5px;
}

.add-player-input{
  border-radius: 5px;
}